{% extends "base.html" %}
{% block body %}
    <form method="POST" id="stringset-form">
        {% csrf_token %}
        <div>Name: {{form.name}}</div>
        <div>Strings:</div>
        <table class="mdl-data-table mdl-js-data-table  mdl-shadow--2dp">
            <thead>
                <tr>
                    <th>
                        String
                    </th>
                    <th>
                        Note
                    </th>
                    <th>
                        Pitch [Hz]
                    </th>
                    <th>
                        Tension
                    </th>
                    <th>
                        <button 
                            class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored"
                            type="button"
                            >
                            <i class="material-icons">
                                add
                            </i>
                        </button>


                    </th>
                </tr>
            </thead>
            <tbody>
                {% for string in stringset.get_stringset_strings %}
                    <tr>
                        <td>
                            <select name="string_pk[]">
                                {% for s in strings %}
                                    <option value="{{s.pk}}"
                                            {% if s.pk == string.string.pk %}
                                                selected="selected"
                                            {% endif %}
                                            >
                                        {{s.brand.name}} {{s.gauge_imperial}}
                                    </option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <select name="note[]">
                                {% for n in notes %}
                                    <option 
                                        value="{{n}}"
                                        {% if n == string.note %}
                                            selected="selected"
                                        {% endif %} 
                                        >
                                        {{n}}
                                    </option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>    
                            {{string.get_pitch}}
                        </td>
                        <td>
                            <ul>
                                {% for scale in stringset.scale_lengths.all %}
                                    <li>
                                        {{scale.scale_imperial}}'/{{scale.scale_metric}}cm 

                                    </li>
                                {% endfor %}
                            </ul>
                            Tension {{string.get_tension}}
                        </td>
                        <td>

                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit">Save</button>
    </form>
    <script>
        new StringSetForm('#stringset-form');
    </script>
{% endblock %}
