{% extends "base.html" %}
{% block body %}
    <form>

        <div>Name: {{stringset.name}}</div>
        <div>Strings:</div>
        <table class="mdl-data-table mdl-js-data-table  mdl-shadow--2dp">
            <thead>
                <tr>
                    <th>
                        String
                    </th>
                    <th>
                        Note
                    </th>
                    <th>
                        Pitch [Hz]
                    </th>
                    <th>
                        Tension
                    </th>
                    <th>
                       <button 
                           class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored"
                           type="button"
                           >
                             <i class="material-icons">
                                 add
                             </i>
                        </button>
                        
                       
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for string in stringset.get_stringset_strings %}
                    <tr>
                        <td>
                            {{string.string.gauge_imperial}}
                        </td>
                        <td>
                            {{string.note}}
                        </td>
                        <td>    
                            {{string.get_pitch}}
                        </td>
                        <td>
                            <ul>
                                {% for scale in stringset.scale_lengths.all %}
                                    <li>
                                        {{scale.scale_imperial}}'/{{scale.scale_metric}}cm 

                                    </li>
                                {% endfor %}
                            </ul>
                            {{string.get_tension}}
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
{% endblock %}
