{% extends "base.html" %}
{% block body %}
<table class="mdl-data-table mdl-js-data-table  mdl-shadow--2dp">
    <thead>
        <tr>
            <th>
                Brand
            </th>
            <th>
                Type
            </th>
            <th>
                Gauge
            </th>
        </tr>
    </thead>
    <tbody>
        
    {% for string in strings %}
    <tr>
        <td>
            {{string.brand.name}}
        </td>
        <td>
            {{string.get_winding_display}}
        </td>
        <td>
            {{string.gauge_imperial}}
        </td>
        
    </tr>
    {% endfor %}
    </tbody>
</table>
<form method="POST">
      {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Add</button>
</form>
    
{% endblock %}